.tooltip {
	padding: 4px 8px;

	border-radius: 3px;
	box-shadow: 0 5px 20px -5px fade(#000000, 25%), 0 4px 8px 0 fade(#000000, 15%),
		0 1px 2px 0 fade(#000000, 10%);
	background-color: #000000;
}

.text {
	color: #ffffff;
}
